.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-top: 20px;
}
.checkoutProduct button{
    height: 80px;
}
.checkoutProduct__image{
    object-fit: contain;
    width: 180;
    height: 180;
}
.checkoutProduct__info{
    padding-left: 20px;

}

.checkProduct__title{
    font-size: 17px;
    font-weight: 800
}

.checkoutProduct__rating{
    padding-left: 20px;
}

.checkoutProduct__info > button {
    background: rgb(12, 158, 102);
    border: 1px solid;
    margin-top: 10px;
    border-color: #63e499 #63c98d #52c28a;;
 color: #040505;
}
